@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-mesagni: "Mesagni", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  font-family: var(--font-mesagni);
  font-size: 44px;
  font-style: italic;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #609BB2;
}
